<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :flag %><br>
    <%= f.text_field :flag %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :actual_phase %><br>
    <%= f.number_field :actual_phase %>
  </div>
  <div class="field">
    <%= f.label :gf %><br>
    <%= f.number_field :gf %>
  </div>
  <div class="field">
    <%= f.label :gc %><br>
    <%= f.number_field :gc %>
  </div>
  <div class="field">
    <%= f.label :gd %><br>
    <%= f.number_field :gd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
